*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: arial;

}

body{
    color: rgb(252, 252, 252);
    justify-content: center;
    border: 0;
    background-image: url(Imagens/BackFuria.png);background-repeat:no-repeat;background-size: cover;background-attachment: fixed;
}

.element {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(66,66,66,0.4);
    width: 800px;
    height: 100%;
    p {
        margin-left: 30px;
        margin-right: 30px;
    }

}

.ano {
    margin-left: 10px;
    text-align: left;
}

.jogador1 {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.jogador1 .texto1 {
    text-decoration: none;
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.jogador1 .imgjogador1 img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.jogador2 {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: row-reverse; /* mantém a imagem à esquerda */
}

/* o texto agora precisa de margem à esquerda */
.jogador2 .texto2 {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.jogador2 .imgjogador2 img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

nav.menu-lateral {
    width: 100px;
    height: 100%;
    background-color: rgba(66,66,66,0.8);
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 rgb(26,26,26);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .6s;
}

nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    color: white;
    font-size: 60px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .6s;
}

ul li.item-menu:hover {
    background: rgb(26,26,26);
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;

}

ul li.item-menu a .txt-link{
    margin-left: 100px;
    font-size: 60px;
}